.idea/

# Deb
deb/jarmemu/debian/jarmemu
*.deb
*.buildinfo
*.changes
*.log

# Rpm
*.rpm

# Win
win/installer/*.exe
win/JArmEmu*.exe
win/chocolatey/*.nupkg

# Flatpak
flatpak/test-install.sh
flatpak/test-uninstall.sh
flatpak/test-run.sh
flatpak/test-clean.sh
flatpak/.flatpak-builder
