.idea/

# Deb
deb/jarmemu
*.deb
*.buildinfo
*.changes
*.log

# Rpm
*.rpm

# Arch
arch/PKGBUILD

# Win
win/installer/*.exe
win/JArmEmu*.exe
win/chocolatey/*.nupkg

# Flatpak
flatpak/fr.dwightstudio.JArmEmu.json
